*{
    font-family: 'Barlow', sans-serif;
}

.main{

   
    background-size: cover;
    min-height: 80vh;
    background-position: center;
}
.foot{
    background-color: #f5f5f7;
}

.foo{
    list-style: none;
}

